<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description"
        content="Quick Website UI Kit is an innovative HTML template solution which combines beautiful design and flawless functionality.">
    <meta name="author" content="Webpixels">
    <title>CRED | All Cards</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%
            }

            100% {
                width: 0;
                height: 0
            }
        }

        body>div.preloader {
            position: fixed;
            background: #fff;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center
        }

        body:not(.loaded)>div.preloader {
            opacity: 1
        }

        body:not(.loaded) {
            overflow: hidden
        }

        body.loaded>div.preloader {
            animation: hidePreloader .5s linear .5s forwards
        }

        #header-main {
            background-color: #006ecc;
        }
    </style>
    <script>
        window.addEventListener("load", function () {
            setTimeout(function () {
                document.querySelector("body").classList.add("loaded")
            }, 300)
        })
    </script>
    <link rel="icon" href="..\..\assets\img\brand\favicon.png" type="image/png">
    <link rel="stylesheet" href="..\..\assets\libs\swiper\dist\css\swiper.min.css">
    <link rel="stylesheet" href="..\..\assets\libs\@fancyapps\fancybox\dist\jquery.fancybox.min.css">
    <link rel="stylesheet" href="..\..\assets\libs\sweetalert2\dist\sweetalert2.min.css">
    <link rel="stylesheet" href="..\..\assets\libs\@fortawesome\fontawesome-free\css\all.min.css">
    <link rel="stylesheet" href="..\..\assets\css\quick-website.css" id="stylesheet">
</head>

<body>
    <div class="preloader">
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>

    <%- include ('partials/navbar.ejs') %>

    <section class="pt-5 bg-section-secondary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="row align-items-center">
                        <div class="col"><span class="surtitle">Your Cards</span>
                            <h1 class="h2 mb-0">All Cards</h1>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <ul class="nav nav-tabs overflow-x">
                                <li class="nav-item"><a href="/dashboard" class="nav-link">Profile</a></li>
                                <li class="nav-item"><a href="/add-card" class="nav-link">Add Card</a></li>
                                <li class="nav-item"><a href="/view-card" class="nav-link active">View Cards</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="slice slice-sm bg-section-secondary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="mb-5">
                        <div class="row" id="allcards">
                            
                            
                        </div>
                        
                        <hr class="my-5">
                        <div class="row justify-content-between">
                            <div class="col-md-4">
                                <div class="text-xl mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                        height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-lock text-success">
                                        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                        <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                    </svg></div>
                                <h4 class="h6 mb-1">Your Information is Safe</h4>
                                <p class="text-muted text-sm">We will not sell or rent your personal contact information
                                    for any marketing purposes whatsoever</p>
                            </div>
                            <div class="col-md-4">
                                <div class="text-xl mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                        height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-shield text-success">
                                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                    </svg></div>
                                <h4 class="h6 mb-1">Secure Checkout</h4>
                                <p class="text-muted text-sm">We will not sell or rent your personal contact information
                                    for any marketing purposes whatsoever</p>
                            </div>
                            <div class="col-md-4">
                                <div class="text-xl mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                        height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-sliders text-success">
                                        <line x1="4" y1="21" x2="4" y2="14"></line>
                                        <line x1="4" y1="10" x2="4" y2="3"></line>
                                        <line x1="12" y1="21" x2="12" y2="12"></line>
                                        <line x1="12" y1="8" x2="12" y2="3"></line>
                                        <line x1="20" y1="21" x2="20" y2="16"></line>
                                        <line x1="20" y1="12" x2="20" y2="3"></line>
                                        <line x1="1" y1="14" x2="7" y2="14"></line>
                                        <line x1="9" y1="8" x2="15" y2="8"></line>
                                        <line x1="17" y1="16" x2="23" y2="16"></line>
                                    </svg></div>
                                <h4 class="h6 mb-1">You are in Control</h4>
                                <p class="text-muted text-sm">We will not sell or rent your personal contact information
                                    for any marketing purposes whatsoever</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade docs-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
      
            <div class="modal-header">
              <h5 class="modal-title h6" id="myExtraLargeModalLabel">Extra large modal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Type</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">category</th>
                        <th scope="col">date</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade docs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
      
            <div class="modal-header">
              <h5 class="modal-title h6" id="myLargeModalLabel">Large modal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="card border-0 shadow-lg rounded-lg floating-sm"><div class="card-body"><h5 class="font-weight-bold text-center mb-0">500k</h5><p class="text-center mb-0"> Outstanding Amount </p></div></div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Normal input" id="outAmount">
                </div>
                <div id="cardId" style="display: none;"></div>
                <button type="button" class="btn btn-success" onclick="payFinalAmount()">
                    Pay This Amount
                </button>
            </div>
          </div>
        </div>
      </div>
    <%- include ('partials/footer.ejs') %>


    <script src="..\..\assets\libs\jquery\dist\jquery.min.js"></script>
    <script src="..\..\assets\libs\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
    <script src="..\..\assets\libs\svg-injector\dist\svg-injector.min.js"></script>
    <script src="..\..\assets\libs\feather-icons\dist\feather.min.js"></script>
    <script src="..\..\assets\libs\in-view\dist\in-view.min.js"></script>
    <script src="..\..\assets\libs\sticky-kit\dist\sticky-kit.min.js"></script>
    <script src="..\..\assets\libs\imagesloaded\imagesloaded.pkgd.min.js"></script>
    <script src="..\..\assets\libs\swiper\dist\js\swiper.min.js"></script>
    <script src="..\..\assets\libs\@fancyapps\fancybox\dist\jquery.fancybox.min.js"></script>
    <script src="..\..\assets\js\quick-website.js"></script>
    <script src="assets/libs/sweetalert2/dist/sweetalert2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        async function getAllCards(){
            try{
                const res = await axios({
                    method: 'GET',
                    url : '/card/get-card'
                })
                if( res.data.status=="fail" ){
                    Swal.fire(
                        'Fail',
                    res.data.message,
                    'warning'
                    )
                }else{
                    return res.data.data
                }
            }catch(err){
                Swal.fire(
                        'Fail',
                    'Internal Server Error',
                    'warning'
                    )
            }
        }
    </script>
    <script>
        async function getAllStatement(cardId){
            try{
                const res = await axios({
                    method: 'GET',
                    url : `/statement/get-all/${cardId}`
                })
                    console.log(res.data.status);
                    return res.data.message;
                
            }catch(err){
                Swal.fire(
                        'Fail',
                    'Internal Server Error',
                    'warning'
                    )
            }
        }
    </script>
    <script>
        $(document).ready(async function(){
            const allcards = await getAllCards();
            if( allcards.length!=0 ){
                $("#allcards").text(' ');
                allcards.forEach(ele => {
                    $("#allcards").append(
                        
                        `<div class="col-md-6" id="${ele._id}">
                         <div class="swiper-js-container">
                                    <div class="card bg-primary border-0 shadow-primary">
                                        <div class="card-body">
                                            <div class="swiper-container swiper-fade swiper-container-initialized swiper-container-horizontal"
                                                data-swiper-items="1" data-swiper-space-between="0"
                                                style="cursor: grab;">
                                                <div class="swiper-wrapper"
                                                    style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                                    <div class="swiper-slide swiper-slide-active" style="width: 274px;">
                                                        <div class="row justify-content-between align-items-center">
                                                            <div class="col"><img
                                                                    src="../../assets/img/svg/cards/visa.svg"
                                                                    alt="Image placeholder" class="rounded-sm"
                                                                    style="height:26px"></div>
                                                            <div class="col-auto"><span
                                                                    class="badge badge-success">Active</span></div>
                                                        </div>
                                                        <div class="my-4"><span class="surtitle text-light">Card
                                                                number</span>
                                                            <div class="card-serial-number h4 text-white">
                                                                <div>${ele.number.substr(0,4)}</div>
                                                                <div>${ele.number.substr(4,4)}</div>
                                                                <div>${ele.number.substr(8,4)}</div>
                                                                <div>${ele.number.substr(12,4)}</div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col"><span
                                                                    class="surtitle text-light">Name</span> <span
                                                                    class="d-block h6 text-white">${ele.name}</span></div>
                                                            <div class="col"><span class="surtitle text-light">Expiry
                                                                    date</span> <span
                                                                    class="d-block h6 text-white">${ele.expiry}</span></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6"><button type="submit" class="btn btn-block btn-secondary"  data-toggle="modal" data-target=".docs-example-modal-xl" onclick="viewStatementFunc('${ele._id}')" >Stat.</button>
                                                                
                                                                
                                                                      
                                                                
                                                                
                                                            </div>
                                                            <div class="col-6"><button type="submit" class="btn btn-block btn-secondary" id="payBillButton" data-toggle="modal" data-target=".docs-example-modal-lg" onclick="payBillButtonFunc('${ele._id}')">
                                                                <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>
                                                                </button></div>
                                                        </div>
                                                        <div id="outstandingAmount"></div>
                                                        <table class="table"  style="display: none;" id="StatementTable">
                                                          <thead>
                                                            <tr>
                                                              <th scope="col">#</th>
                                                              <th scope="col">Amount</th>
                                                              <th scope="col">Type</th>
                                                              <th scope="col">Vendor</th>
                                                              <th scope="col">category</th>
                                                              <th scope="col">date</th>
                                                              
                                                            </tr>
                                                          </thead>
                                                          <tbody>
                                                            
                                                          </tbody>
                                                        </table>
                                                        
                                                    </div>
                                
                                                </div><span class="swiper-notification" aria-live="assertive"
                                                    aria-atomic="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>`
                    )
                });
                allcards.forEach(async function(ele) {
                    var cardId = ele._id;
                    // console.log(cardId.length);
                    var allstatements = await getAllStatement(cardId);
                    // console.log(allstatements);
                    var netamount = 0;
                    var count=1;
                    allstatements.forEach( element =>{
                        // console.log(ele.amount);
                        if( element.type == "debit") netamount = netamount + element.amount*1;
                        else netamount = netamount - element.amount*1;
                        
                        $(`#${ele._id} #StatementTable > tbody`).append(
                            `<tr>
                                                              <th scope="row" class="count">${count}</th>
                                                              <td class="amount">${element.amount}</td>
                                                              <td class="type">${element.type}</td>
                                                              <td class="vendor">${element.vendor}</td>
                                                              <td class="category">${element.category}</td>
                                                              <td class="date">${element.date}</td>
                                                            </tr>
                            `
                            
                        )
                        count++;
                    })
                    
                    $(`#${ele._id} #outstandingAmount`).text(netamount);
                    // console.log( cardId, netamount );
                    if( netamount==0 ){
                        $(`#${ele._id} #payBillButton`).text(' ');
                        $(`#${ele._id} #payBillButton`).text("FullyPaid");
                        $(`#${ele._id} #payBillButton`).attr("disabled",true)
                    }else{
                        $(`#${ele._id} #payBillButton`).text(' ');
                        $(`#${ele._id} #payBillButton`).text("PayBill");
                    }
                    
                });
                
            }
        })
    </script>

    <script>
        async function viewStatementFunc(id){
            $(".docs-example-modal-xl tbody").text(' ');
            $(`#${id} #StatementTable > tbody`).children().each(function(){
                var count = $(this).children(".count").text();
                var amount = $(this).children(".amount").text();
                var type = $(this).children(".type").text();
                var vendor = $(this).children(".vendor").text();
                var category = $(this).children(".category").text();
                var date = $(this).children(".date").text();
                var new_date = new Date(date*1);
                var d = new_date.getDate();
                var month = new_date.getMonth();
                var year = new_date.getFullYear();
                console.log(count, amount, type, vendor, category, date);
               
                $(".docs-example-modal-xl tbody").append(
                    
                    `<tr>
                                                              <th scope="row">${count}</th>
                                                              <td>${amount}</td>
                                                              <td>${type}</td>
                                                              <td>${vendor}</td>
                                                              <td>${category}</td>
                                                              <td>${d} - ${month} - ${year}</td>
                                                            </tr>
                            `
                )
            })
            
        }
    </script>

    <script>
        function payBillButtonFunc(id){
            // console.log($(`#${id} #outstandingAmount`).text())
            $(".docs-example-modal-lg .floating-sm h5").text($(`#${id} #outstandingAmount`).text());
            $(".docs-example-modal-lg #cardId").text(id);
        }

    </script>
    <script>
        async function payFinal(cardId, amount ){
            var vendor = 'self'
            var type = 'credit'
            var category = 'outstanding amount'
            try{
                const res = await axios({
                    method : 'POST',
                    url : '/statement/add',
                    data : { cardId, amount, vendor, type, category}
                })

                if( res.data.status == "success") {
                    
                    Swal.fire(
                        'Success',
                    '',
                    'success'
                    )
                    // redirect to the dashboard
                    window.location.assign('/view-card');
                }
            }catch(err){
                Swal.fire(
                        'Fail',
                    'Something went wrong',
                    'warning'
                    )
            }
        }
        function payFinalAmount(){
            var cardId = $(".docs-example-modal-lg #cardId").text();
            var amount = $(".docs-example-modal-lg #outAmount").val();
            var upperLimit = $(".docs-example-modal-lg .floating-sm h5").text();
            console.log(cardId,amount);
            if( !amount ){
                Swal.fire(
                        'Fail',
                    'Please Enter Some Amount',
                    'warning'
                    )
                    return;
            }
            if( amount*1>upperLimit*1 ){
                Swal.fire(
                        'Fail',
                    'Please Enter valid amount',
                    'warning'
                    )
                    return;
            }
            payFinal(cardId, amount);
        }
    </script>
    <script>
        feather.replace({
            width: "1em",
            height: "1em"
        })
    </script>
    <script>
        ! function (e, t, a, n, g) {
            e[n] = e[n] || [], e[n].push({
                "gtm.start": (new Date).getTime(),
                event: "gtm.js"
            });
            var m = t.getElementsByTagName(a)[0],
                r = t.createElement(a);
            r.async = !0, r.src = "https://www.googletagmanager.com/gtm.js?id=GTM-MF4DZVH", m.parentNode.insertBefore(r,
                m)
        }(window, document, "script", "dataLayer")
    </script>
</body>

</html>